body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.MuiButtonBase-root{
  background: #C0AD7F!important;
  color: #fff!important;
  font-weight: 600!important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #C0AD7F!important;
}

.MuiFormLabel-root.Mui-focused {
  color: #C0AD7F!important;
}